@import "~materialize-css/dist/css/materialize.min.css";
::-webkit-scrollbar {
    width: 5px;
    background-color: orange;
}
input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #ffffff!important;
}

input.yellow-input + label {
    color: white!important;
}

input.yellow-input:focus + label {
    color: #ffeb3b!important;
}

input.yellow-inputLfocus{
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}
.logo-link_navbar{
    box-shadow: 2px 2px 5px 5px lightgray;
}

.logo-navbar{
    height: 70px;
    width: 80px;
}
.link_navbar{
    color: #FFB33B;
    font-size: 2em;
}
.img_content-about{
    width: 400px;
}
.contentAbout{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
}
.contentAbout p{
    text-align: center;
    font-size: 24px;
}
.contentInfoAbout {
    margin-top: 200px;
}
.contentInfoAbout h4{
    text-align: center;
    background-color: orange;
    padding: 15px;
}
.contentCardsInfoAbout{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.contentCardsCourse{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 150px;
}
.contentCardsInnerCourse{
    display: flex;
    flex-direction: column;
}
.contentCardsInnerCourse div{
    margin: 20px;
}
.inner_card{
    border: 1px solid orange;
    max-width: 400px;
    min-width: 200px;
}
.card-padding{
    margin: 50px;
}
.card-padding h5{
    text-align: center;
}
